<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676919463381-488nti58vp9ua6jvefbq2eih8tctc4tt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676919463381-488nti58vp9ua6jvefbq2eih8tctc4tt</string>
	<key>API_KEY</key>
	<string>AIzaSyBrQf-vTHCYOF4vZ57peaLen592jsbrV1U</string>
	<key>GCM_SENDER_ID</key>
	<string>676919463381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calendar.page.example.example</string>
	<key>PROJECT_ID</key>
	<string>last-minute-5909a</string>
	<key>STORAGE_BUCKET</key>
	<string>last-minute-5909a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676919463381:ios:8e044c5fa010be3e26815c</string>
</dict>
</plist>